asgiref==3.8.1
Brotli==1.1.0
cffi==2.0.0
chardet==5.2.0
cssselect2==0.8.0
Django==5.2.1
django-crispy-forms==2.4
django-pdfkit==0.3.1
django-widget-tweaks==1.5.0
django-wkhtmltopdf==3.4.0
et_xmlfile==2.0.0
fonttools==4.60.1
openpyxl==3.1.5
pdfkit==0.6.0
pillow==11.2.1
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
qrcode==8.2
reportlab==4.4.1
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
wkhtmltopdf==0.2
zopfli==0.2.3.post1
